INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doxygen.config
install-sh
libtool
ltmain.sh
mondemand-*
missing
pkgconfig-template.pc
test-driver
testwrapper-*
ylwrap
.*.out
*.gcda
*.gcno
*.gz
*.lo
*.log
*.o
*.trs
