build
config.sub
configure.ac
create-package
depcomp
fw-pkgout
fw-pkgtmp
ltmain.sh
Makefile.am
*.o
*.lo
Makefile
Makefile.in
ac-init.generated
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
configure
fw
install-sh
libtool
missing
mondemand-4.0.pc
pkgconfig-template.pc
pkgconfig-template.pc.in
